apiVersion: v1
kind: Secret
metadata:
  name: mft-secrets
type: Opaque
stringData:
  dbUrl: 
  dbUser: 
  dbPassword: 
  adminPassword: 

---

apiVersion: v1
kind: Secret
metadata:
  name: dcc-secrets
type: Opaque
stringData:
  dbArchPassword: 
  dbUrl: 
  dbUser: 
  dbType: 
  dbArchUrl: 
  dbArchUser: 
  dbPassword: 