apiVersion: v1
kind: Secret
metadata:
  name: dcc-secrets
type: Opaque
stringData:
  dbType: pgsql
  dbArchUrl: jdbc:wm:${DB_TYPE}://${DB_SERVER}:${DB_PORT};DatabaseName=${DB_NAME};EncryptionMethod=SSL;ValidateServerCertificate=true;HostNameInCertificate=${DB_SERVER};TrustStore=/certs/db-truststore.jks;TrustStorePassword=${DB_TRUSTSTORE_PASSWORD}
  dbArchUser: 
  dbArchPassword: 
  dbUrl: jdbc:wm:${DB_TYPE}://${DB_SERVER}:${DB_PORT};DatabaseName=${DB_NAME};EncryptionMethod=SSL;ValidateServerCertificate=true;HostNameInCertificate=${DB_SERVER};TrustStore=/certs/db-truststore.jks;TrustStorePassword=${DB_TRUSTSTORE_PASSWORD}
  dbUser: 
  dbPassword: 

---

apiVersion: v1
kind: Secret
metadata:
  name: db-truststore
type: Opaque
data:
  db-truststore.jks: 
